{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Изменение фонда</h1>

    {{ form(edit_form) }}

	<ul class="record_actions btn-group nav-pills">
		<li>
			<a class = "btn btn-inverse" href="{{ path('funds') }}">
				Перейти к списку
			</a>
		</li>
		<li>{{ form(delete_form) }}</li>
	</ul>
{% endblock %}
