{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Создание расхода</h1>

    {{ form(form) }}

<ul class="record_actions btn-group nav-pills">
    <li>
        <a class = "btn btn-inverse" href="{{ path('expenses') }}">
            Перейти к списку
        </a>
    </li>
</ul>
{% endblock %}
